/* Základní nastavení */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f6f8;
}

.logo {
    font-size: 1.75em;
    font-weight: bold;
}

.hero {
    background-blend-mode: overlay;
    color: #ffffff;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}

footer nav a:hover {
    text-decoration: underline;
}
